                                    /* header */
.header-wraper {
    background-color:#EBEDED;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    position: fixed;
    z-index: 100;
}
.header-div {
    background-color:#EBEDED;
    height: 50px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin: 0 auto;
}
.header-ul {
    display: flex;
    width: 341px;
    justify-content: space-between;
    align-items: center;
}
.li-style {
    color: grey;
    font-size: 11px;
}
.home-color {
    color: #343638;
}

                                /* section */
.container-box {
    width: 100%;
    height: 1490px;
    padding-top: 50px;
}
.section-margin {
    background-color: #F6F8F9;
}
.top-div-wrapper {
    margin: 0 auto;
    width: 1160px;
    height: 410px;
    margin-top: 25px;
}
.header1-style {
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    display: block;
    height: 20px;
}
.top-div-line {
    display: flex;
    justify-content: space-between;
}
.div-box {
    width: 360px;
    height: 350px;
    background-color: white;
    margin-top: 40px;
    position: relative;
}
.text-div {
    background-color:white;
    width: 280px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 66px;
}
.time {
    display: flex;
    align-items: center;
    background-color:white;
}
.block-text {
    color: #A6ADB4;
    font-size: 13px;
}
.overlay-text {
    width: 280px;
    height: 16px;
    position: absolute;
    top: 28px;
    left: 40px;
}
.image-text-style {
    font-size: 16px;
    color:#FFF;
}


.bottom-div-wrapper {
    width: 1160px;
    height: 960px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}
.header2-style {
    font-weight: bold;
    font-size: 24px;
    color: #202124;
}
.left-div {
    width: 760px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.text-overlay {
    width: 280px;
    height: 16px;
    position: absolute;
    top: 194px;
    left: 308px;
}
.right-div {
    margin-top: 58px;
    height: 841px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
                                /* footer */

.footer-style {
    height: 200px;
    width: 100%;
    margin-top: 37px;
    background-color: #A6ADB4;
    padding-top: 58px;
}
.footer-wrapper {
    width: 1160px;
    height: 84px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navigation-wrapper {
    width: 486.09px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav1 {
    height: 100%;
}
.footer-text-style {
    color: #CBD0D3;
    font-size: 13px;
}
.footer-icon-wrapper {
    height: 16px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}

a {
    font-family: 'Lato';
}
h2 {
    font-family: 'Lato';
}
p {
    font-family: 'Lato';
}

